@model List<CQRS_Mediator_Car_Rental.CQRS.Results.GetCarQueryResult>
@{
    ViewData ["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">List of All Cars</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Car Image
                            </th>
                            <th>
                                Brand
                            </th>
                            <th>
                                Model
                            </th>
                            <th>
                                Km
                            </th>
                            <th>
                                Daily Price
                            </th>
                            <th>Delete</th>
                            <th>Edit</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="@item.ImageUrl" style="width:50%; height:50%;" />
                                </td>
                                <td>
                                    @item.CarBrand
                                </td>
                                <td>
                                    @item.CarModel
                                </td>
                                <td>
                                    @item.CarKM
                                </td>
                                <td>
                                    @item.CarDayPrice
                                </td>
                                <td><a href="/Admin/RemoveCar/@item.ForRentCarID" class="btn btn-danger">Delete</a></td>
                                <td><a href="/Admin/UpdateCar/@item.ForRentCarID" class="btn btn-dark">Edit</a></td>
                                <td><a href="#" class="btn btn-primary">Details</a></td>
                            </tr>

                        }

                    </tbody>
                </table>
                <br />
                <a href="/Admin/CreateCar/" class="btn btn-info">Add New Car</a>
            </div>
        </div>
    </div>
</div>

