@model List<CQRS_Mediator_Car_Rental.CQRS.Results.GetCarQueryResult>
@{
    ViewData ["Title"] = "CarList";
    Layout = "~/Views/Shared/UIRentaCarLayout.cshtml";
}
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="section-heading"><strong></strong></h2>
                <p class="mb-5"></p>
            </div>
        </div>
        <h1>Rental Cars List</h1>
        <br />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4 mb-4">

                    <div class="listing d-block  align-items-stretch">
                        <div class="listing-img h-100 mr-4">
                            <img src="@item.ImageUrl" alt="Image" class="img-fluid">
                        </div>
                        <div class="listing-contents h-100">
                            <h3>@item.CarBrand @item.CarModel</h3>
                            <div class="rent-price">
                                <strong>@item.CarDayPrice</strong><span class="mx-1">/</span>Daily Price:
                            </div>
                            <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                                <div class="listing-feature pr-4">
                                    <span class="caption">Car Type:</span>
                                    <span class="number">@item.CarType</span>
                                </div>
                                <div class="listing-feature pr-4">
                                    <span class="caption">Fuel Type:</span>
                                    <span class="number">Gasoline</span>
                                </div>
                                <div class="listing-feature pr-4">
                                    <span class="caption">Engine Power:</span>
                                    <span class="number">@item.CarEnginePower</span>
                                </div>
                            </div>
                            <div>

                                <p> <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Modal1-@item.ForRentCarID">Details</a>  <a href="#" class="btn btn-primary btn-sm">Rent Car</a> </p>


                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal" id="Modal1-@item.ForRentCarID" tabindex="-1">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fw-bold"><b>@item.CarBrand @item.CarModel</b></h5><br />
                            </div>
                            <div class="modal-body">

                                <img src="@item.ImageUrl" style="height:370px;" />
                                <div class="card">
                                    <div class="card-header"><b>Car Details</b></div>
                                    <div class="card-body p-3">
                                        <span class="caption"><b>Km:</b> @item.CarKM</span><br />
                                        <span class="caption"><b>Gear Type:</b> @item.CarGearType</span><br />
                                        <span class="caption"><b>Fuel Type:</b> Benzin</span><br />
                                        <span class="caption"><b>Engine Power:</b> @item.CarEnginePower</span><br />
                                        <span class="caption"><b>Car Type:</b> @item.CarType</span><br />
                                        <span class="caption"><b>Daily Price:</b> @item.CarDayPrice</span><br />
                                        <span class="caption"><b>Minimum Age for Driver:</b> @item.CarRenterPersonMinAge</span><br />
                                        <span class="caption"><b>Person :</b> @item.CarTotalPerson</span><br />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
